#!/bin/csh
#
# Examples for collapse
#
# parameters are: (1) input soundfile
#                 (2) output soundfile name
# Program input   (a) amplitude scaling 
#

if ($1 == "") then
   set SOUNDDIR = ../
else
   set SOUNDDIR = $1
endif

if ($2 == "") then
   set BINDIR = ../../bin
else
   set BINDIR = $2
endif


#####
#
# Example: collapse the channels of binbeats.au
#


if ( ! -r $SOUNDDIR/binbeats.au ) then
   binauralBeats.example $SOUNDDIR $BINDIR >/dev/null
endif

echo Creating $SOUNDDIR/squash.au

rm -f $SOUNDDIR/squash.au
$BINDIR/collapse $SOUNDDIR/binbeats.au $SOUNDDIR/squash.au >/dev/null <<EOT
1.0
EOT


