#!/bin/csh
#
# Examples for sinewave
#
# parameters are: (1) output soundfile name
# Program input   (a) frequency in Hertz of sinusoid
#                 (b) number of cycles to calculate 
#                 (c) amplitude of sinusoid
#                 (d) phase of sinusoid at beginning of soundfile
#

if ($1 == "") then
   set SOUNDDIR = ../
else
   set SOUNDDIR = $1
endif

if ($2 == "") then
   set BINDIR = ../../bin
else
   set BINDIR = $2
endif


echo Creating $SOUNDDIR/sinewave1.au

# Example 1:
rm -f $SOUNDDIR/sinewave1.au
$BINDIR/sinewave $SOUNDDIR/sinewave1.au >/dev/null <<EOT
800
800
0.2
0.0
EOT



